<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary border-placeholder">
      <h2> Your payment id is {{ id }} </h2>
      <br/>
      <h3 >You are successfully charged with ${{ amount }} for <i>{{productname}}</i></h3>
      </div>
    </div>
  </div>

</main>